<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sangaizhi.blog.dao.CategoryDao">

    <resultMap id="categoryMap" type="org.sangaizhi.blog.entity.vo.CategoryVO">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="createTime"/>
        <result property="modifyTime" column="modifyTime"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        	ID as id,
        	USER_ID as userId,
        	NAME as name,
        	PARENT_ID as parentId,
        	REMARK as remark,
        	CREATE_TIME as createTime,
        	MODIFY_TIME as modifyTime
        ]]>
    </sql>
    
    <sql id="where">
    	<where>
           	<if test="@Ognl@isNotEmpty(id)">
            	<![CDATA[ AND ID = #{id} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(userId)">
            	<![CDATA[ AND USER_ID = #{userId} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(name)">
            	<![CDATA[ AND NAME = #{name} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(parentId)">
            	<![CDATA[ AND PARENT_ID = #{parentId} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(remark)">
            	<![CDATA[ AND REMARK = #{remark} ]]>
            </if>
           	<if test="@Ognl@isNotEmpty(createTime)">
           		<![CDATA[ AND CREATE_TIME = #{createTime} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(createTimeBegin)">
           		<![CDATA[ AND CREATE_TIME >= #{createTimeBegin} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(createTimeEnd)">
            	<![CDATA[ AND CREATE_TIME <= #{createTimeEnd} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(modifyTime)">
           		<![CDATA[ AND MODIFY_TIME = #{modifyTime} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(modifyTimeBegin)">
           		<![CDATA[ AND MODIFY_TIME >= #{modifyTimeBegin} ]]>
           	</if>
           	<if test="@Ognl@isNotEmpty(modifyTimeEnd)">
            	<![CDATA[ AND MODIFY_TIME <= #{modifyTimeEnd} ]]>
           	</if>
        </where>
    </sql>
    
    <select id="getById" resultType="org.sangaizhi.blog.entity.vo.CategoryVO">
        SELECT 
        	<include refid="columns" />
        FROM
            t_category
        <where> 
            ID = #{id} 
        </where>
    </select>
    
    <select id="getByCondition" resultType="org.sangaizhi.blog.entity.vo.CategoryVO">
        SELECT
            <include refid="columns" />
        FROM
            t_category 
        <include refid="where"/>
    </select>
    
    <select id="queryList" resultMap="categoryMap">
        SELECT
            <include refid="columns" />
        FROM
            t_category 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
	    SELECT
	        count(1)
	    FROM
	        t_category
        <include refid="where"/>
    </select>
    
    <select id="queryPage" resultMap="categoryMap">
        SELECT
            <include refid="columns" />
        FROM
            t_category 
        <include refid="where"/>
	    <!-- 请手动在{startPosition}和{pageSize}前面加上"#"号并删除本注释 --> 
        LIMIT #{startPosition},#{pageSize}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO t_category (
	        USER_ID,
	        NAME,
	        PARENT_ID,
	        REMARK,
	        CREATE_TIME,
	        MODIFY_TIME
	    ) VALUES (
	        #{userId},
	        #{name},
	        #{parentId},
	        #{remark},
	        #{createTime},
	        #{modifyTime}
	    )
    </insert>

    <insert id="saveBatch">
        INSERT INTO t_category (
            USER_ID,
            NAME,
            PARENT_ID,
            REMARK,
            CREATE_TIME,
            MODIFY_TIME
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                                #{item.userId},
                #{item.name},
                #{item.parentId},
                #{item.remark},
                #{item.createTime},
                #{item.modifyTime}
            )
        </foreach>
    </insert>
    
    <update id="updateById">
    	UPDATE
        	t_category
    	<set>
        	<if test="userId != null">
        		<![CDATA[ USER_ID = #{userId} ]]>,
        	</if>
        	<if test="name != null">
        		<![CDATA[ NAME = #{name} ]]>,
        	</if>
        	<if test="parentId != null">
        		<![CDATA[ PARENT_ID = #{parentId} ]]>,
        	</if>
        	<if test="remark != null">
        		<![CDATA[ REMARK = #{remark} ]]>,
        	</if>
        	<if test="createTime != null">
        		<![CDATA[ CREATE_TIME = #{createTime} ]]>,
        	</if>
        	<if test="modifyTime != null">
        		<![CDATA[ MODIFY_TIME = #{modifyTime} ]]>
        	</if>
    	</set>
    	<where>
        	ID = #{id}
    	</where>
    </update>
    
    <delete id="deleteById">
	    DELETE
	    FROM
	        t_category
	    <where>
	        ID = #{id} 
	    </where>
    </delete>
    
    <delete id="deleteBatchByIds">
        DELETE 
        FROM
            t_category
        WHERE
            ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
#{item}        </foreach>
    </delete>
</mapper>

